@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-color: #161616;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin:0px;
}
.button {
    padding:16px 20px;
    border-radius: 6px;
    border-color: #252525;
    background-color: #252525;
    color: #d6d6d6;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.6s;
}
.button:hover {
    background-color: #303030;
}
center {
    margin-top: 15%;
}
