@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.title {
    margin-left:33%;
    margin-right:33%;
    font-size: 60px;
    font-weight: bold; 
    color: #fff;
    transition: ease 300ms;
    cursor:default;
}

.title:hover {
    font-size: 65px;
}

body {
    background-color: #161616;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin:0px;
}

.button {
    display:block;
    padding: 16px 20px;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 6px;
    border-color: #252525;
    background-color: #252525;
    color: #d6d6d6;
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.6s;
    text-align: center;
}

.button:hover {
    background-color: #303030;
}

center {
    margin-top: 15%;
}

@media screen and (min-width: 800px){
    .button {
        display:inline;
        margin:0;
    }
}